@import "variables";

.about-options {
  height: 874px;
  background: url("../img/Layer 8.png");
}

.about-options__content {
  @include full-size;
  padding-top: 380px;
  @media screen and (max-width: 1400px) {
    padding-top: 150px;
    width: 991px;
  }
  @media screen and (max-width: 991px) {
    padding-top: 100px;
    width: 800px;
  }
}

.about-options__title {
  width: 530px;
  font-family: Open Sans;
  font-size: 60px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.about-options__text {
  width: 440px;
  font-family: Open Sans;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.85;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.about-options__link {
  text-decoration: none;
  font-family: Open Sans;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}