@import "variables";

.buy {
  height: 628px;
  background-color: rgb(246, 247, 250);
  @media screen and (max-width: 1200px) {
    height: 800px;
  }
}

.buy__content {
  @include full-size;
  display: grid;
  grid-template-columns: repeat(2, 570px);
  justify-content: space-between;
  @media screen and (max-width: 1200px) {
    grid-template-columns: repeat(2, 450px);
    justify-content: space-evenly;
  }
  @media screen and (max-width: 991px) {
    grid-template-columns: 1fr;
  }
}

.buy__item {
  height: 380px;
  margin-top: 103px;
  @media screen and (max-width: 1200px) {
    margin-top: 20px;
  }
}

.buy__item:hover {
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
}
