@import "_variables.scss";

.description {
  height: 400px;

}

.description_position {
  @include full-size;
  @media screen and (max-width: 1500px) {
    margin: 0 10%;
  }
  @media screen and (max-width: 1200px) {
    width: 800px;
    margin: 0 auto;
  }
}

.description__title {
  font-family: Open Sans;
  font-size: 35px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.69;
  letter-spacing: normal;
  text-align: left;
  color: #222626;
  margin-top: 110px;
  @media screen and (max-width: 1200px) {
    width: 800px;
    margin: 110px auto 20px auto;
  }
}

.description__text {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-around;
  @media screen and (max-width: 1200px) {
    width: 800px;

  }
  @media screen and (max-width: 991px) {
    grid-template-columns: 1fr;
    width: 800px;
  }
}

.description__text-item {
  font-family: Open Sans;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: left;
  color: #959595;
  margin-right: 30px;
  float: left;
}

.description__text_position {
  margin-top: 75px;
  @media screen and (max-width: 1200px) {
    margin-top: 0;
  }
}