@import "dev/_dev.scss";
@import "variables";
.gridbox {

}

.gridbox_position {

}

.gridbox__container {
  margin: 0 auto;
  clear: both;
  display: grid;
  grid-template-rows: repeat(2, 278px);
  grid-template-columns: repeat(4, 1fr);
  width: 1200px;
  grid-auto-rows: 278px;
  grid-auto-columns: 1fr;
  @media screen and (max-width: 1700px) {
    margin: 0 10%;

  }
  @media screen and (max-width: 1600px) {
    margin: 0 auto;
    grid-template-columns: repeat(3, 1fr);
  }
  @media screen and (max-width: 1200px) {
    width: 800px;
    margin: 30px auto;
    grid-template-columns: repeat(2, 400px);
  }
  @media screen and (max-width: 991px) {
    grid-template-columns: repeat(2, 400px);
  }
  @media screen and (max-width: 768px) {

  }
}

.gridbox__item {
  padding: 0 30px 0 30px;
}

.gridbox__item_long {
  grid-column-start: 1;
  grid-column-end: 3;
  @media screen and (max-width: 1600px) {
    grid-column-start: 2;
    grid-column-end: 4;
  }
  @media screen and (max-width: 1200px) {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

.gridbox__item_design {
  background-color: #f5989d;
}

.gridbox__item_built {
  background-color: #615f7d;
}

.gridbox__item_clients {
  background: url("../img/Layer 6.png");
}

.gridbox__item_shoo {
  background-color: #bd8cbf;
}

.gridbox__item_sign-up {
  background: url("../img/Layer 7.png");
}

.gridbox__item_pictures {
  background-color: #82ca9c;
}

.gridbox__item_start {
  background: url("../img/Layer 14.png");

  @media screen and (max-width: 1600px) {
    grid-column-start: 2;
    grid-column-end: 4;
    background: url("../img/Layer 15.png");
  }
  @media screen and (max-width: 1200px) {
    background: url("../img/Layer 14.png");
    grid-column-start: 2;
    grid-column-end: 3;
  }
}

.gridbox__title {
  font-family: Open Sans;
  font-size: 30px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  margin-bottom: 24px;
}

.gridbox__text {
  font-family: Open Sans;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.85;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  height: 60px;
  margin-bottom: 40px;
  min-width: 300px;
  max-width: 440px;
}

.gridbox__link {
  font-family: Open Sans;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  text-decoration: none;
  margin-bottom: 60px;
}