.logo {
  height: 41px;
}

.logo_position {
  padding-top: 56px;
}

.logo__img {
  float: left;
}

.logo__text {
  margin: 8px 0 0 51px;
  font-family: Merriweather;
  font-size: 21px;
  font-weight: 900;
  font-style: italic;
  font-stretch: normal;
  color: #ffffff;
}