@import "dev/_dev.scss";
@import "_variables";

.page-head {
  height: 951px;
  background: url("../img/bg-header.png"), no-repeat;
  background-size: cover;
  @media screen and (max-width: 1600px) {
    background: url("../img/bg-header.png"), no-repeat, 50px;
  }
}

.page-head__container {
  @include full-size;
  position: relative;
  @media screen and (max-width: 991px) {
    display: flex;
    justify-content: space-around;
  }
}

.page-head__picture {
  margin-top: 350px;
  width: 440px;
  @media screen and (max-width: 1600px) {
    margin-top: 250px;
  }
  @media screen and (max-width: 1400px) {
    margin-left: 10%;
  }
  @media screen and (max-width: 1200px) {

  }
  @media screen and (max-width: 991px) {
    margin: 0 50px;
    width: 100%;
  }

}

.page-head__picture-perfect {
  font-family: Open Sans;
  font-size: 60px;
  font-weight: 100;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  margin-bottom: 21px;
  @media screen and (max-width: 991px) {
    margin: 0;
  }
}

.page-head__picture-text {
  font-family: Open Sans;
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.85;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  margin-left: 5px;
}

.page-head__phone {
  position: absolute;
  left: 492px;
  top: 261px;
  @media screen and (max-width: 1600px) {
    width: 600px;
    left: 600px;
    top: 30px;
  }
  @media screen and (max-width: 1200px) {
    left: 400px;
  }
  @media screen and (max-width: 991px) {
    top: 175px;
    left: 100px;
  }
}
